$cor-preto: #6c6d6e;
$cor-cinza-claro: #f1f1f1;
$cor-cinza: #d6d6d6;
$cor-cinza-escuro: #575757;
$cor-azul-escuro: #13008b;
$cor-azul: #00839b;
$cor-amarelo: #efab00;

@mixin flex(
  $direction: row,
  $wrap: nowrap,
  $align: stretch,
  $justify: start,
  $gap: 0
) {
  display: flex;
  flex-flow: $direction $wrap;
  align-items: $align;
  gap: $gap;
}

@mixin respond($tamanho) {
  @if $tamanho == big {
    @media (max-width: 60.625em) {
      @content;
    }
  } @else if $tamanho == medium {
    @media (max-width: 54.125em) {
      @content;
    }
  } @else if $tamanho == small {
    @media (max-width: 48.125em) {
      @content;
    }
  } @else if $tamanho == tiny {
    @media (max-width: 30em) {
      @content;
    }
  }
}

%titulo {
  font-size: 4.58rem;
  line-height: 1;

  @include respond(small) {
    font-size: 3.98rem;
  }

  @include respond(tiny) {
    padding: 3.32rem;
  }
}

%subtitulo {
  font-size: 2.76rem;
  line-height: 1.2;
  font-weight: 700;
}
