@use "../abstracts/variables";

.passo {
  &__cabecalho {
    @include variables.flex($align: center, $gap: 0.8rem);
  }

  &__caixa-icone {
    width: 4.3rem;
    height: 4.3rem;
    padding: 0.82rem;
    border-radius: 0.8rem;
    background-color: variables.$cor-azul;
  }

  &__titulo {
    font-size: 2.76rem;
    font-weight: 700;

    &--azul {
      color: variables.$cor-azul;
    }
  }
}
